.card {
    width: 100px;
    height: 142px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-found {
    width: 100px;
    height: 142px;
    border: 2px lawngreen solid;
    opacity: 0.8;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}